In [1]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression 
from sklearn import metrics

In [2]:
df1 = pd.read_excel('Dataset_Hackathon.xlsx')
df1.head()

,Country,Commodity,Flow,Quantity,Category,Volume,Distance,Frieght Cost (USD)
0,Albania,"Poultry cuts & offal, except livers, fresh or ...",Export,34,02_meat_and_edible_meat_offal,12,5940.830501,4840.697837
1,Albania,"Poultry cuts & offal, except livers, fresh or ...",Export,23,02_meat_and_edible_meat_offal,12,5940.830501,3069.710823
2,Albania,"Swine meat, salted/dried/smoked not ham/should...",Export,11,02_meat_and_edible_meat_offal,12,5940.830501,1475.822511
3,Albania,"Fowls, domestic, whole, frozen",Export,50,02_meat_and_edible_meat_offal,12,5940.830501,7083.948054
4,Albania,"Meat and edible offal nes fresh, chilled or fr...",Export,71,02_meat_and_edible_meat_offal,12,5940.830501,9976.560176

In [3]:
X = df1.drop(['Country', 'Commodity','Flow','Category','Frieght Cost (USD)'], axis = 1)
X.head()

   Quantity  Volume     Distance
0        34      12  5940.830501
1        23      12  5940.830501
2        11      12  5940.830501
3        50      12  5940.830501
4        71      12  5940.830501

In [4]:
y = df1['Frieght Cost (USD)']

lr = LinearRegression() 
lr.fit(X, y)  
pred = lr.predict(X)

In [5]:
features = [[1,12,7758.83]]
print('The predicted price:', lr.predict(features)[0])

The predicted price: 1148.7399566140884

/opt/homebrew/Caskroom/miniforge/base/lib/python3.10/site-packages/sklearn/base.py:409: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

In [6]:
import pickle

In [8]:
with open('model', 'wb') as files:
    pickle.dump(lr, files)

In [9]:
lr.predict(features)[0]

/opt/homebrew/Caskroom/miniforge/base/lib/python3.10/site-packages/sklearn/base.py:409: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

1148.7399566140884

In [12]:
X

       Quantity  Volume     Distance
0            34      12  5940.830501
1            23      12  5940.830501
2            11      12  5940.830501
3            50      12  5940.830501
4            71      12  5940.830501
...         ...     ...          ...
81440        85       4  6170.000164
81441         3       4  6170.000164
81442         1       4  6170.000164
81443         6       4  6170.000164
81444         6       4  6170.000164

[81445 rows x 3 columns]